# Exploratory Analysis and PoC for creating a sentiment analysis app for the EPL Teams

In [18]:
import tweepy
import json
import pandas as pd

In [65]:
with open("C:/Users/William Jiang/Documents/credentials.json") as f:
    d = json.load(f)
    cred_json=d["twitter_api"]
    

# Authenticate to Twitter
auth = tweepy.OAuthHandler(cred_json["CONSUMER_KEY"], cred_json["CONSUMER_SECRET"])
auth.set_access_token(cred_json["ACCESS_TOKEN"], cred_json["ACCESS_TOKEN_SECRET"])

# Create API object
api = tweepy.API(auth)

# # Create a tweet
# api.update_status("Hello Tweepy2")

In [66]:
search_results=api.search(q="#Arsenal", lang="en", count=15)

In [80]:
rows_list=[]
for tweet in search_results:
#     print(f"{tweet.user.name}:{tweet.text}:{tweet.created_at}")
    df.append([tweet.user.name, tweet.text, tweet.created_at])
    dict1 = {}
    dict1['twitter_id']=tweet.id
    dict1['username']=tweet.user.name
    dict1['screenname']=tweet.user.screen_name
    dict1['text']=tweet.text
    dict1['created_at']=tweet.created_at
    dict1['retweet_count']=tweet.retweet_count
    dict1['location']=tweet.user.location
    dict1['followers']=tweet.user.followers_count
    dict1['friends']=tweet.user.friends_count
    
    rows_list.append(dict1)

In [81]:
df=pd.DataFrame(rows_list)
df.to_csv('outputfile.csv')

In [82]:
df.describe

<bound method NDFrame.describe of              twitter_id                   username       screenname  \
0   1277563431445544960                 WengerKing     WengerKing49
1   1277563334116675584       Roblox Art Retweeter     RetweeterArt
2   1277563182463291392                      jayod   jason_donoghue
3   1277562739062341632                    Arsenal    austine_perez
4   1277562690559512578         Thomas A. DeBlasio   ThomasDeBlasio
5   1277562269329735683  Ndependent ChicksEnt IFBðŸ’‹  independentchi1
6   1277562141898346500         Geoff Peasah #AFCâ™¥      awuahpeasah
7   1277561904853127169            ICE Promo Squad   ICEPromoSquad1
8   1277561646081286145                         SD    FootyKeyrings
9   1277561473141800962                        ...        SamSossa1
10  1277561459732549632          Just Arsenal News      JustArsenal
11  1277561402664902660                    Arsenal    austine_perez
12  1277561366853844992               brightthekid    brightthekidd
13  1277561348801523712               KAA (Stay ðŸ¡)          truekaa
14  1277561266777751553                  info fifa        infofifa3

                                                 text          created_at  \
0   RT @MrRussoTM: Wilfried #Zaha has made it clea... 2020-06-29 11:23:52
1   RT @X65007387: boom boom baby ðŸ’¥ðŸ’¥ðŸ’¥\n#roblox #ro... 2020-06-29 11:23:29
2   Liverpool today and Arsenal's invincibles Best... 2020-06-29 11:22:53
3   RT @GurjitAFC: #Arsenal will also trigger Thom... 2020-06-29 11:21:07
4   RT @MrRussoTM: Wilfried #Zaha has made it clea... 2020-06-29 11:20:56
5   RT @mogoa_felix: Objects behind the clothes ar... 2020-06-29 11:19:15
6   RT @GurjitAFC: Arteta: "He needs to take care ... 2020-06-29 11:18:45
7   RT @mogoa_felix: Objects behind the clothes ar... 2020-06-29 11:17:48
8   #Follow #FollowBack #Footy #Football #Keyrings... 2020-06-29 11:16:47
9   RT @MrRussoTM: Wilfried #Zaha has made it clea... 2020-06-29 11:16:05
10  JustArsenal News It is all about momentum for ... 2020-06-29 11:16:02
11  RT @urbanarsenaI: Folarin Balogun is set to le... 2020-06-29 11:15:48
12  Arsenal fans will just die of heart attack ðŸ˜€\n... 2020-06-29 11:15:40
13  RT @urbanarsenaI: Folarin Balogun is set to le... 2020-06-29 11:15:36
14  RT @AdenikeZulaiha: How old were you when you ... 2020-06-29 11:15:16

    retweet_count                 location  followers  friends
0              71             South Africa        231     3306
1               1                                 175        5
2               0          Galway Ireland         266      347
3              22           Lagos, Nigeria        982     1323
4              71             New York, NY        368      653
5               1         Mississippi, USA       3089     2773
6              22  Southampton - Hampshire       3516     4968
7               1                                 307      632
8               0                                1241      801
9              71                   London        261      245
10              0                   London      17474      819
11             98           Lagos, Nigeria        982     1323
12              0           Lagos, Nigeria       1104     1458
13             98                                8628     8598
14              1                                 613       82  >